/* style master */
body{
  font-family: "Lato", sans-serif;
  margin: 0px;
}

/* navabr styles */
.container{
  display: grid;
  grid-template-columns: 1fr;
}
.nav-wrapper{
  display: flex;
  justify-content: space-between;
  padding: 38px;
}

.left-side{
  display: flex;
}

/*go inside nav-wrapper then inside left-side and style every div in it this way */
.nav-wrapper > .left-side > div{
  /* space between home and about */
  margin-right: 20px;
  font-size: 0.9em; /* 90% of its original font*/
}

.nav-link-wrapper{
  height: 22px;
  /*create a line at the bottom of Home and About that is transparent*/
  border-bottom: 1px solid transparent;
  /* make the line visible for 0.5s when we clic the word */
  transition: border-bottom 0.5s;
}

/* grab a link from nav-link-wrapper */
.nav-link-wrapper a{
  color: #8a8a8a;
  /* eliminate the basic html decoration */
  text-decoration: none;
  /* animate also the color that will become visible for 0.5 when the word is clicked */
  transition: color 0.5s;
}

.nav-link-wrapper:hover{
  border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover{
  color: black;
}
 /* portfolio styles */
.portfolio-items-wrapper{
  display: grid;
  /* 3 portfolio in a row and each portfolio takes 3 col */
  grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper{
  position: relative;
}

.portfolio-img-background{
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-text-wrapper{
  position: absolute;
  top: 0; /*text wrapper at the very top of logo img*/
  display: flex; /* inside of it all elements are gonna use flexbox*/
  flex-direction: column; /*use flex on items */
  /* justify-content: center items left to right
  align-items: center items top to bottom */

  justify-content: center; /*cenetr items */
  align-items: center;
  height: 100%; /* take full height of pics */
  text-align: center; /*center text inside the pics */
  padding-left: 100px;
  padding-right: 100px;
}

.logo-wrapper img{
  width: 50%;
  margin-bottom: 20px;
}
/* operations on img text and subtitle */
.img-text-wrapper .subtitle{
  transition: 1s;
  font-weight: 600;
  color: transparent;
}
/* apply hover on subtitle */
.img-text-wrapper:hover .subtitle{
  font-weight: 700;
  color: #FFA500;
}

.image-blur{
  transition: 1s;
  filter: brightness(20%);
}

.logo-wrapper img {
  width: 50%;
  margin-bottom: 20px;
}
/* profile style */
.content-wrapper{

}
.two-column-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper img {
  width: 100%;
}

.profile-content-wrapper {
  padding: 30px;
}

.profile-content-wrapper h1 {
  color: lightseagreen;
}
